.deck {
    position: absolute;
    
    width: 8em;
    height: 8em;

    padding: 20px; 
    background-color: #999;
    border-radius: 32px;

    text-align: center;

    .label {
        margin-top: -60px;
    }
    
    .actions {
        margin-right: -120%;
    }

    &.draw-pile {
        top: 35%;
        left: 10%;
    }
    &.center {
        width: 16em;
        height: 16em;

        top: 30%;
        left: 38%;

        .card {
            padding-left: 10em;
            padding-top: 15.56em;
            left: 22%;
        }
    }
    &.discard-pile {
        top: 35%;
        left: 75%;
    }

    &.hand {
        width: 80%;

        bottom: 0;
        left: 10%;

        .card {
            padding-left: 10em;
            padding-top: 15.56em;

            top: -60%;
            left: 1%;
        }
    }

    &.cpu-1, &.cpu-2 {
        width: 12em;

        top: 10%;
    }
    &.cpu-1 {
        left: 20%;
    }
    &.cpu-2 {
        left: 60%; 
    }

    .card {
        position: absolute;
        top: 10%;
        left: 10%;
    }
}