.hand-stats {
    position: absolute;

    width: 240px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 0.9em;
    text-align: center;

    border: 1px solid #333;
    border-radius: 5px;
    background-color: #ddda;

    span {
        padding: 10px;

        &.bold {
            font-weight: 600;
        }

        &.icon {
            position: absolute;
            bottom: -50px;
            left: 50%;

            width: 100px;
            transform: translateX(-60px);

            font-size: 3em;
        }
    }
}
