body {
  background-image: url("./img/table.png");
  background-size: 100% 100%;
}

.App {
  width: 100vw;
  height: 100vh;
}

button {
  padding: 16px 32px;

  background-color: #ddda;
  border: 1px solid #333;
  border-radius: 5px;

  box-shadow: 2px 2px 1px 1px #3339;

  font-size: 1em;
  font-weight: 600;

  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: #fffa;
  }
  &:active {
    box-shadow: 1px 1px 1px 1px #3339;
  }
  &:disabled {
    background-color: #ccca;
    cursor: not-allowed;
  }
}

.Toastify .toaster {
  position: absolute;
  top: 40%;

  div.info {
    background-color: #ffc759;
    border: 1px solid #fff;
    border-radius: 5px;

    color: #333;
    font-size: 2em;
    font-weight: 600;

    text-align: center;
  }
}

.highlight {
  animation: 2s ease-in-out 1s infinite alternate glow;
}

@keyframes glow {
  from {
    transform: translateY(0px);
    box-shadow: 0 0 10px 5px #fff;
  }
  to {
    transform: translateY(5px);
    box-shadow: 0 0 5px 8px #fff;
  }
}
