@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;900&display=swap');

body {
  background-color: #888;
  font-family: 'Spartan', sans-serif;
  box-sizing: border-box;
}

button {
  padding: 16px 32px;

  background-color: #ccc;
  border: 1px solid #333;
  border-radius: 2px;
  
  box-shadow: 6px 6px 0px 0px #333;

  font-size: 1em;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    background-color: #dedede;
  }
  &:active {
    position: relative;
    top: 1px;
    box-shadow: 4px 4px 0px 0px #333;
  }
}